# Starting with Jupyter

## ● Needed libraries

### Numpy

In [ ]:
import numpy as np
# In summary this library has a powerful N-dimensional array object.

### Pandas

In [ ]:
import pandas as pd
# Easy-to-use data structures and data analysis tools

### Matplotlib

In [ ]:
# 2D plotting library
# This line tells the notebook to show plots inside of the notebook
%matplotlib inline

import matplotlib.pyplot as plt

### Seaborn

In [ ]:
# Visualization library based on matplotlib. It provides a high-level interface for drawing attractive statistical graphics.
# Michael Waskom - Standford OP.
import seaborn as sb

## ● Let's code

## [TitanicDataset](https://www.kaggle.com/c/titanic/data)

## [Titanic3D](https://www.tinkercad.com/things/8FKovaXaBOe-titanic)

In [ ]:
# Let's try to read from a csv and see how our data looks
titanic_data = pd.read_csv('titanic-data.csv')

##### titanic_data is now a [DataFrame](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html "Go to the DataFrame documentation!") powered by Pandas, so now we can do whatever we want with this object.

In [ ]:
titanic_data

In [ ]:
titanic_data.head()

In [ ]:
titanic_data.count()

In [ ]:
titanic_data["Age"].mean()

#### So the moment we access to a column from a DataFrame, the object returned is a [Series](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html#pandas.Series).

In [ ]:
type(titanic_data["Survived"])

In [ ]:
titanic_data["Survived"].value_counts()

In [ ]:
titanic_data["Survived"].hist()

In [ ]:
titanic_data.loc[titanic_data["Age"].isnull()].head()

In [ ]:
titanic_data.loc[titanic_data["Sex"]=='male'].head()

In [ ]:
len(titanic_data.loc[(titanic_data["Sex"]=='male') & (titanic_data["Survived"]==1)])

# Assignment

### ● How many people in class 1 didn't survived?

### ● Identify the properties with missing values

### ● Try to resolve the missing values (use any approach)

### ● Please show us if at least there was one infant from Queenstown that managed to survive?, what about the others ports of embarkation?

### ● How many females with more than 20 years old managed to survive?